@page "/"
@inject IConfiguration config
@inject IChart<PieConfig> _pieChart
@inject IChart<BarConfig> _verticalBarChart
@inject IChart<LineConfig> _lineChart
@using ChartJs.Blazor.PieChart
@using ChartJs.Blazor.BarChart
@using ChartJs.Blazor.LineChart

<PageTitle>Index</PageTitle>

<HeaderPage Title="@title"></HeaderPage>

<section class="row dashboard">
    <article class="col-6 chart-box">
        <Chart Config="_configLine"></Chart>
    </article>
    <article class="col-5 chart-box">
        <Chart Config="_configPie"></Chart>
    </article>
    <article class="col-11 chart-box">
        <Chart Config="_configBar"></Chart>
    </article>
</section>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@

@code {
    public string title = "";
    private PieConfig _configPie;
    private BarConfig _configBar;
    private LineConfig _configLine;
    protected override void OnInitialized()
    {
        title = config.GetValue<string>("helloMessage");

        BuildPieChart();
        BuildVerticalBar();
        BuildLine();
    }


    private void BuildPieChart()
    {
        OptionsTitle optionsTitle = new OptionsTitle
            {
                Display = true,
                Text = "Pie Chart"
            };
        _pieChart.AddOptions(optionsTitle);
        _pieChart.AddColors(new[] { "Red", "Yellow", "Green", "Blue" });
        _pieChart.AddDataSet();
        _configPie = _pieChart.BuildChart();
    }

    private void BuildVerticalBar()
    {
        OptionsTitle optionsTitle = new OptionsTitle
            {
                Display = true,
                Text = "ChartJs.Blazor Bar Chart"
            };

        _verticalBarChart.AddOptions(optionsTitle);
        _verticalBarChart.AddDataSet();
        _configBar = _verticalBarChart.BuildChart();
    }

    private void BuildLine()
    {
        OptionsTitle optionsTitle = new OptionsTitle
            {
                Display = true,
                Text = "ChartJs.Blazor Line Chart"
            };

        _lineChart.AddOptions(optionsTitle);
        _lineChart.AddDataSet();
        _configLine = _lineChart.BuildChart();
    }

}