@page "/"
@inject IConfiguration config
@inject IChart<PieConfig> _pieChart;
@inject IChart<BarConfig> _verticalBarChart;
@* @inject IChart<BarConfig> _horizontalBarChart; *@
@using ChartJs.Blazor.PieChart
@using ChartJs.Blazor.BarChart

<PageTitle>Index</PageTitle>

<HeaderPage Title="Home"></HeaderPage>

<section class="row dashboard">
    <article class="col chart-box">
        <Chart Config="_configBar"></Chart>
    </article>
    @* <article class="col-5 chart-box">
    <Chart Config="_configHorizontalBar"></Chart>
    </article> *@
    <article class="col chart-box">
        <Chart Config="_configPie"></Chart>
    </article>
</section>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@

@code {
    public string title = "";
    private PieConfig _configPie;
    private BarConfig _configBar;
    protected override void OnInitialized()
    {
        title = config.GetValue<string>("helloMessage");

        BuildPieChart();
        BuildVerticalBar();
        BuildHorizontalBar();
    }


    private void BuildPieChart()
    {
        OptionsTitle optionsTitle = new OptionsTitle
            {
                Display = true,
                Text = "Pie Chart"
            };
        _pieChart.AddOptions(optionsTitle);
        _pieChart.AddColors(new[] { "Red", "Yellow", "Green", "Blue" });
        _pieChart.AddDataSet();
        _configPie = _pieChart.BuildChart();
    }

    private void BuildVerticalBar()
    {
        OptionsTitle optionsTitle = new OptionsTitle
            {
                Display = true,
                Text = "ChartJs.Blazor Bar Chart"
            };

        _verticalBarChart.AddOptions(optionsTitle);
        _verticalBarChart.AddDataSet();
        _configBar = _verticalBarChart.BuildChart();
    }

    private void BuildHorizontalBar()
    {
        @* OptionsTitle optionsTitle = new OptionsTitle
{
Display = true,
Text = "ChartJs.Blazor Horizontal Bar Chart"
};

_horizontalBarChart.AddOptions(optionsTitle);
_horizontalBarChart.AddDataSet();
_configHorizontalBar = _horizontalBarChart.BuildChart(); *@
    }

}